#followingBallsG{
position:relative;
width:154px;
height:12px;
}

.followingBallsG{
background-color:#2AAD10;
position:absolute;
top:0;
left:0;
width:12px;
height:12px;
-moz-border-radius:6px;
-moz-animation-name:bounce_followingBallsG;
-moz-animation-duration:2.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:6px;
-webkit-animation-name:bounce_followingBallsG;
-webkit-animation-duration:2.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:6px;
-ms-animation-name:bounce_followingBallsG;
-ms-animation-duration:2.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:6px;
-o-animation-name:bounce_followingBallsG;
-o-animation-duration:2.3s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:6px;
animation-name:bounce_followingBallsG;
animation-duration:2.3s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#followingBallsG_1{
-moz-animation-delay:0s;
}

#followingBallsG_1{
-webkit-animation-delay:0s;
}

#followingBallsG_1{
-ms-animation-delay:0s;
}

#followingBallsG_1{
-o-animation-delay:0s;
}

#followingBallsG_1{
animation-delay:0s;
}

#followingBallsG_2{
-moz-animation-delay:0.23s;
-webkit-animation-delay:0.23s;
-ms-animation-delay:0.23s;
-o-animation-delay:0.23s;
animation-delay:0.23s;
}

#followingBallsG_3{
-moz-animation-delay:0.46s;
-webkit-animation-delay:0.46s;
-ms-animation-delay:0.46s;
-o-animation-delay:0.46s;
animation-delay:0.46s;
}

#followingBallsG_4{
-moz-animation-delay:0.69s;
-webkit-animation-delay:0.69s;
-ms-animation-delay:0.69s;
-o-animation-delay:0.69s;
animation-delay:0.69s;
}

@-moz-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#2AAD10;
}

50%{
left:142px;
background-color:#F0A716;
}

100%{
left:0px;
background-color:#2AAD10;
}

}

@-webkit-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#2AAD10;
}

50%{
left:142px;
background-color:#F0A716;
}

100%{
left:0px;
background-color:#2AAD10;
}

}

@-ms-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#2AAD10;
}

50%{
left:142px;
background-color:#F0A716;
}

100%{
left:0px;
background-color:#2AAD10;
}

}

@-o-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#2AAD10;
}

50%{
left:142px;
background-color:#F0A716;
}

100%{
left:0px;
background-color:#2AAD10;
}

}

@keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#2AAD10;
}

50%{
left:142px;
background-color:#F0A716;
}

100%{
left:0px;
background-color:#2AAD10;
}

}
- See more at: http://cssload.net/#sthash.YZ5VpoNM.dpuf