<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ModelTutor" connectionString="metadata=res://*/App_Code.ModelTutorBooking.csdl|res://*/App_Code.ModelTutorBooking.ssdl|res://*/App_Code.ModelTutorBooking.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PR-A311-09;initial catalog=TutorBooking;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TutorBookingConnectionString" connectionString="Data Source=PR-A311-09;Initial Catalog=TutorBooking;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="error.aspx">
      <error statusCode="404" redirect="error.aspx" />
      <error statusCode="500" redirect="error.aspx" />
    </customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
  </system.web>
</configuration>